# Ignorar archivos de configuración específicos del sistema
.DS_Store       # macOS
Thumbs.db       # Windows

# Ignorar archivos de compilación
/build/
out/
dist/

# Ignorar dependencias (Ej: Node.js, Python)
node_modules/
venv/

# Ignorar configuraciones específicas del entorno
.env            # Archivos de variables de entorno
config/*.json   # Configuración sensible o específica del entorno

# Ignorar archivos de log
*.log
logs/